/*comentario*/

h3{
    font-family: cooper;
    color:rgb(253, 88, 0);
}
/*comentario
div.ref1{
    background-color: lime;
}

div.ref2{
    background-color: blue;
}
*/
div.ref3{
    background-color: white;
}